<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.thoughtworks.acit"/>
    <context:property-placeholder location="classpath:${PROFILE}.properties"/>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="${postgresqlUrl}"/>
        <property name="username" value="${postgresqlUsername}"/>
        <property name="password" value="${postgresqlPassword}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.thoughtworks.acit.domain"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.datetime">org.joda.time.contrib.hibernate.PersistentDateTime</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="oktaRedirect" class="java.lang.String">
        <constructor-arg value="${oktaRedirect}"/>
    </bean>

    <bean id="oktaUrl" class="java.lang.String">
        <constructor-arg value="${oktaUrl}"/>
    </bean>

    <bean id="oktaApiKey" class="java.lang.String">
        <constructor-arg value="${oktaApiKey}"/>
    </bean>

    <bean id="loggedInKey" class="java.lang.String">
        <constructor-arg value="okta.acit.user"/>
    </bean>

    <bean id="loggedOutKey" class="java.lang.String">
        <constructor-arg value="okta.acit.logged_out_user"/>
    </bean>

    <bean id="configFilePath" class="java.lang.String">
        <constructor-arg value="${projectAbsolutePath}/src/main/resources/okta_config.xml"/>
    </bean>

    <bean id="oktaAuthPeer" class="com.okta.saml.util.OktaAuthPeer">
        <constructor-arg ref="configFilePath"/>
        <constructor-arg ref="loggedInKey"/>
        <constructor-arg ref="loggedOutKey"/>
    </bean>
</beans>
